
doctype html
html(lang='ja')
  head
    title someones blog
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
  body
    header
      h1 someones blog
      img(src="./mockup11.jpg")
    main
      h1 this is tittle
      p blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
      section
        h2 this is sub title 
        p blah blah blah blah blah blah blah blah blah blah blah
        section
          h3 this is sub tiitle 
          img(src="./mockup01.jpg")
          p blah blah blah blah blah blah blah blah blahblah blah blah blah
    footer
      ul
        li blog
        li about
        li contact
      small copy right something 2017
